.happiness {
	background: #b3c2db;
	height: 250px;
	margin-bottom: 20px;
	width: 100%;
}

.graph {
	background: blue;
	height: 150px;
	margin-bottom: 20px;
	width: 100%;
}

.happiness-svg {
	padding-top: 20px;
	width: 100%;
	height: 100%;
}