<section class="main">
	<div class="wrap container">
		<div class="row">
			<div class="col-xs-8">
				<div class="row">
					<div class="col-xs-3">
						<button>PLAY</button>
						<button (click)="editWorld=true">EDIT</button>
						<div *ngIf="editWorld">
							Change reward
							<input type="text" [(ngModel)]="network.reward" name="reward">
						</div>
						<div *ngIf="editWorld">
							Change intelligence
							<input type="text" [(ngModel)]="network.intelligence" name="intelligence">
						</div>
						<button *ngIf="editWorld" (click)="saveWorld()">SAVE</button>
					</div>
					<div class="col-xs-9">
						<world [editable]="editWorld" [(world)]="network.world"></world>
						<button type="button" (click)="getWorld()">New world</button>
						<button type="button" (click)="deleteWorld()">Delete world</button>
						<button type="button" (click)="log(network);">Log world</button>
						<button type="button" (click)="sendWebsocket(network);">Send</button>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="happiness">
					<button (click)="stopHappiness()">Stop</button>
					<button (click)="continueHappiness()">Continue</button>
					<svg>
						<template ngFor let-point [ngForOf]="happinessData" let-rowindex="index">
							<svg:g>
			                    <svg:title>Test</svg:title>
			                    <svg:circle
			                    	[attr.title]="Test"
			                    	[attr.fill]="color"
			                        [attr.cx]="rowindex * 10 + 10"
			                        [attr.cy]="point * 30 + 20"
			                        [attr.r]="3" />
		                   	</svg:g>
	                    </template>
                   	</svg>
				</div>
				<div class="graph"></div>
				<div class="visualization">
					<button (click)="tsneTest()">Test</button>
					<button (click)="stopTsne()">Stop</button>
					<button (click)="continueTsne()">Continue</button>
					<button (click)="tsneSteps(1)">Step</button>
					<button (click)="tsneSteps(10)">Step x 10</button>
					<button (click)="tsneSteps(100)">Step x 100</button>
					<!-- <template ngFor let-row [ngForOf]="points" let-rowindex="index">
						<div class="">
						    {{ row | json }}
						</div>
					</template> -->
					<svg>
						<template ngFor let-point [ngForOf]="points" let-rowindex="index">
							<svg:g>
			                    <svg:title>Test</svg:title>
			                    <svg:circle
			                    	[attr.title]="Test"
			                    	[attr.fill]="color"
			                        [attr.cx]="point[0]*10 + 150"
			                        [attr.cy]="point[1]*10 + 100"
			                        [attr.r]="3" />
		                   	</svg:g>
	                    </template>
                   	</svg>
				</div>
			</div>
		</div>
	</div>
</section>