<section class="main">
	<div class="wrap container">
		<div class="row">
			<div class="col-sm-2">
				<button (click)="resetGame()">NEW GAME</button>
				<button *ngIf="savedNetwork" (click)="loadGame()">LOAD SAVED GAME</button>
				<button *ngIf="!gamePaused" (click)="pauseGame()">PAUSE</button>
				<button *ngIf="gamePaused" (click)="resumeGame()">RESUME</button>
				<div class="row">
					<div class="col-xs-12">
						<button *ngIf="!isEditingWorld" (click)="editWorld()">EDIT</button>
					</div>
					<div class="col-sm-12" *ngIf="isEditingWorld">
						Change reward
						<input type="text" [(ngModel)]="network.reward" name="reward">
					</div>
					<div class="col-sm-12" *ngIf="isEditingWorld">
						Change intelligence
						<input type="text" [(ngModel)]="network.intelligence" name="intelligence">
					</div>
					<div class="col-sm-12" *ngIf="isEditingWorld">
						<button (click)="cancelEdit()">CANCEL</button>
						<button (click)="saveWorld()">SAVE</button>
					</div>
				</div>

			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-sm-12">
						<div class="world" [paused]="gamePaused" [editable]="isEditingWorld" [(world)]="network.world" worldComponent></div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="happiness">
					<svg>
						<template ngFor let-point [ngForOf]="happinessData" let-rowindex="index">
							<svg:g>
			                    <svg:title>{{ point }}</svg:title>
			                    <svg:circle
			                    	[attr.fill]="color"
			                        [attr.cx]="rowindex * 10 + 10"
			                        [attr.cy]="(point / happinessRange) * 30 + 20"
			                        [attr.r]="2" />
			                    <svg:line *ngIf="rowindex > 0"
			                    	[attr.stroke]="color"
			                        [attr.x1]="(rowindex - 1) * 10 + 10"
			                        [attr.y1]="(happinessData[rowindex - 1] / happinessRange) * 30 + 20"
			                        [attr.x2]="rowindex * 10 + 10"
			                        [attr.y2]="(point / happinessRange) * 30 + 20"
			                        [attr.stroke-width]="2" />
		                   	</svg:g>
	                    </template>
                   	</svg>
				</div>
				<!-- <div class="visualization">
					<button *ngIf="!tsneRunner" (click)="startTsne()">Start</button>
					<button *ngIf="tsneRunner" (click)="startTsne()">Restart</button>
					<button *ngIf="tsneRunner && !tsneRunner.closed" (click)="stopTsne()">Pause</button>
					<button *ngIf="tsneRunner && tsneRunner.closed" (click)="continueTsne()">Continue</button>
					<svg>
						<template ngFor let-point [ngForOf]="points" let-rowindex="index">
							<svg:g class="dot">
			                    <svg:title>Happiness {{ math.round(values[rowindex] * 100) }}% </svg:title>
			                    <svg:circle
			                    	(click)="showState(rowindex)"
			                    	[attr.title]="Test"
			                    	[attr.fill]="'#ff' + componentToHex(math.round(values[rowindex] * 255)) + '00'"
			                        [attr.cx]="point[0]*10 + 150"
			                        [attr.cy]="point[1]*10 + 150"
			                        [attr.r]="3" />
		                   	</svg:g>
	                    </template>
                   	</svg>
				</div> -->
				<div *ngIf="showIllustrationWorld">
					<button type="button" (click)="showIllustrationWorld = false">CLOSE</button>
					<div class="world" size="small" [readOnly]="true" [editable]="false" [world]="illustrationWorld" worldComponent></div>
				</div>
			</div>
		</div>
	</div>
</section>