<section class="main">
	<div class="wrap container">
		<div class="row">
			<div class="col-xs-12">
				There has been a huge spike in the development of artificial intelligence. This is mostly due to the usage of GPU-s, which has raised the computational capacity significantly and enabled the use of neural networks and reinforcement learning. These methods change the general idea of programming artificial intelligences: computers are trained on huge datasets to create their own methods for solving problems. Many people (<a href="https://futureoflife.org/ai-open-letter/" target="_blank">Ai open letter</a>) are concerned that developing a powerful general intelligence could be cataclysmic for the human race.
				<br>
				The emergence of a powerful general artificial intelligence is still far in the future. Currently we only have narrow intelligences which are easy to monitor and control. However unexpected results can happen even with these. One example is a narrow intelligence (developed by Tom Murphy) that was developed to learn how to play old NES games. It learned that it can avoid losing the game by pausing the game indefinitely. This shows that machine learning algorithms process information very differently from humans and can learn totally unexpected solutions.
				<br>
				If we consider that progress never stops (doesn't matter how slow it is, it just can't stop), then it is inevitable that artificial intelligence will keep getting better and a strong general intelligence will be developed at some point. If the AI can model human behavior then it might be very hard to realize how powerful it is before it is too late. And if it can model that people will turn it off then it could take precautions for stopping humans doing that. The solution might be fairly benign (manipulation humans to not turn it off) or very harsh (eliminate all humans) - the chosen course will depend on which one gives a better reward according to its value function. This is why the solution has to be figured out long before we are even close.
				<br>
				Nick Soares gives a good overview of the issues with powerful AI in this video:
				<br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/dY3zDvoLoao" frameborder="0" allowfullscreen></iframe>



			
			</div>
		</div>
	</div>
</section>