* {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
}

.wrap {
	width: 1030px;
}

button {
  border-radius: 20px;
}

input {
	width: 100%;
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .item {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
}