<header class="header">
	<div class="wrap container">
		<div>
			<div class="col-md-2 hidden-sm hidden-xs"></div>
			<div class="col-sm-6 vertical-center header-height">
				<h1 class="item">{{ title }}</h1>
			</div>
			<div class="col-sm-6 col-md-4 header-height">
				<ul class="menu navbar-right vertical-center">
					<li class="item">
						<a class="navbar-user-navigation-link" [routerLinkActive]="['navbar-user-navigation-item-current']" [routerLink]="['/']">
                            Home
                        </a>
					</li>
					<li class="item">
						<a class="navbar-user-navigation-link" [routerLinkActive]="['navbar-user-navigation-item-current']" [routerLink]="['/visualization']">
                            Visualization
                        </a>
					</li>
					<li class="item">
						<a class="navbar-user-navigation-link" [routerLinkActive]="['navbar-user-navigation-item-current']" [routerLink]="['/about']">
                            About
                        </a>
                    </li>
				</ul>
			</div>
		</div>
	</div>
	<div style="clear: both;"></div>
</header>