<header class="header">
	<div class="wrap container">
		<div class="row">
			<div class="col-xs-3"></div>
			<div class="col-xs-5 vertical-center">
				<h1 class="item">{{ title }}</h1>
			</div>
			<div class="col-xs-4">
				<ul class="menu navbar-right vertical-center">
					<li class="item">
						<a class="navbar-user-navigation-link" [routerLinkActive]="['navbar-user-navigation-item-current']" [routerLink]="['/']">
                            Home
                        </a>
					</li>
					<li class="item">
						<a class="navbar-user-navigation-link" [routerLinkActive]="['navbar-user-navigation-item-current']" [routerLink]="['/about']">
                            About
                        </a>
                    </li>
					<li class="item">Something</li>
				</ul>
			</div>
		</div>
	</div>
</header>