.wrap {
	width: 1030px;
}

.menu {
	height: 100%;
}

.menu .item {
	padding: 5px 15px;
}

div {
	height: 100%;
}

input {
	width: 100%;
}

.header {
	height: 100px;
}

.world {
	background: green;
	height: 400px;
	width: 400px;
}

.happiness {
	background: yellow;
	height: 100px;
	margin-bottom: 20px;
	width: 100%;
}

.graph {
	background: blue;
	height: 150px;
	margin-bottom: 20px;
	width: 100%;
}

.visualization {
	background: red;
	height: 300px;
	margin-bottom: 20px;
	width: 100%;
}