<header class="header">
	<div class="wrap container">
		<div class="row">
			<div class="col-xs-5 vertical-center">
				<h1 class="item">{{ title }}</h1>
			</div>
			<div class="col-xs-7">
				<ul class="menu navbar-right vertical-center">
					<li class="item">Home</li>
					<li class="item">About</li>
					<li class="item">Something</li>
				</ul>
			</div>
		</div>
	</div>
</header>
<section class="main">
	<div class="wrap container">
		<div class="row">
			<div class="col-xs-8">
				<div class="row">
					<div class="col-xs-3">
						<div>PLAY</div>
						<div>EDIT</div>
						<div>
							Change reward
							<input type="text">
						</div>
						<div>
							Change intelligence
							<input type="text">
						</div>
					</div>
					<div class="col-xs-9">
						<div class="world"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="happiness"></div>
				<div class="graph"></div>
				<div class="visualization"></div>
			</div>
		</div>
	</div>
</section>
