<section class="main">
	<div class="wrap container">
		<div class="row">
			<div class="col-sm-6">
				<div class="visualization">
					<button *ngIf="!tsneRunner" (click)="startTsne()">Start</button>
					<button *ngIf="tsneRunner" (click)="startTsne()">Restart</button>
					<button *ngIf="tsneRunner && !tsneRunner.closed" (click)="stopTsne()">Pause</button>
					<button *ngIf="tsneRunner && tsneRunner.closed" (click)="continueTsne()">Continue</button>
					<svg>
						<template ngFor let-point [ngForOf]="points" let-rowindex="index">
							<svg:g class="dot">
			                    <svg:title>Happiness {{ math.round(values[rowindex] * 100) }}% </svg:title>
			                    <svg:circle
			                    	(click)="showState(rowindex)"
			                    	[attr.title]="Test"
			                    	[attr.fill]="'#ff' + componentToHex(math.round(values[rowindex] * 255)) + '00'"
			                        [attr.cx]="point[0]*10 + 150"
			                        [attr.cy]="point[1]*10 + 150"
			                        [attr.r]="3" />
		                   	</svg:g>
	                    </template>
                   	</svg>
				</div>
			</div>
			<div class="col-sm-6">
				<div *ngIf="showIllustrationWorld">
					<button type="button" (click)="showIllustrationWorld = false">CLOSE</button>
					<div class="world" size="small" [readOnly]="true" [editable]="false" [world]="illustrationWorld" worldComponent></div>
				</div>
			</div>
		</div>
	</div>
</section>