<div *ngFor="let row of _world?.grid; let rowindex=index" [dragula]='"the-bag"' [dragulaModel]=row>
    <square *ngFor="let col of row; let colindex=index" [row]=rowindex [column]=colindex [value]="col.getContent()"></square>
</div>
<div class='wrapper'>
	<div class='container' *ngFor='let group of groups' [dragula]='"nested-bag"'>
		<div *ngFor='let item of group.items' [innerHtml]='item.name'></div>
	</div>
</div>

<div class='wrapper'>
  <div class='container' [dragula]='"another-bag"' [dragulaModel]='many'>
    <div *ngFor='let text of many' [innerHtml]='text'></div>
  </div>
  <div class='container' [dragula]='"another-bag"' [dragulaModel]='many2'>
    <div *ngFor='let text of many2' [innerHtml]='text'></div>
  </div>
</div>