.world {
	background: green;
	height: 400px;
	width: 400px;
}

.world-row, .filler-bag {
	line-height: 0;
	/*display: flex;*/
	font-size: 0;
}

.trash-bag {
	height: 50px;
}

.filler-bag.ex-over, .trash-bag.ex-over {
	border: 3px solid red;
}

.square.gu-mirror {
	height: 40px;
	display: inline-block;
}