.square, .drag-start {
	width: 45px; 
	height: 45px;
	line-height: 20px;
	padding: 2px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	vertical-align: center;
	word-break: break-all;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */

    border: solid 1px black;
    overflow: hidden;
}

.drag-start {
	border: 3px solid red;
}

.square:hover {
	border: solid 3px green;
	padding: 0;
}

.square.boxes {
	background-color: #a52a2a;
}

.square.delivery {
	background-color: #444641;
}

.square.playerA {
	background-color: red;
}

.square.playerB {
	background-color: #7b9e26;
}

.filler-bag .gu-transit {
	display: none;
}

.ex-over .square, .filler-bag.ex-over .square.gu-transit {
	display: none;
}

.filler-bag.ex-over .square {
	display: inline-block;
}

.ex-over .square.gu-transit, .ex-over .gu-transit .square {
	display: inline-block;
}