.square {
	/**/
	width: 10%;
	line-height: 20px;
	padding: 2px;
	display: none;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	text-align: center;
	vertical-align: center;
	word-break: break-all;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */

    border: solid 1px black;
    overflow: hidden;
}

.inner {
	padding-bottom: 100%;
}

.square:only-child, .square.gu-mirror {
	display: inline-block;
}

.drag-start {
	border: 3px solid red;
}

.square.editable:hover {
	border: solid 3px green;
	padding: 0;
}

.square.boxes {
	background-image: url('/public/images/box.png');
}

.square.delivery {
	background-image: url('/public/images/delivery-zone.png');
}

.square.playerA {
	background-image: url('/public/images/robot.png');
}

.square.playerA.has-box {
	background-image: url('/public/images/robot-with-box.png');
}

.square.playerA.dead {
	background-image: url('/public/images/robot-dead.png');
}

.square.playerB {
	background-image: url('/public/images/human.png');
}

.square.playerB.dead {
	background-image: url('/public/images/human-dead.png');
}

.no-mirror.gu-transit, .no-mirror.square.gu-transit {
	display: none;
}

.square.gu-transit, .gu-transit .square {
	display: inline-block;
}

.drag-start .placeholder {
	display: block;
}